{% assign cves = site.data.data.sidebar.cves %}
{% if cves %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    CVE assignment
  </h2>

  <ul class="list-unstyled interests-list">
    {%for cve in cves %}
    <li>
      <a href="https://nvd.nist.gov/vuln/detail/{{ cve.ID }}">{{ cve.ID }}</a>
      {% if cve.with %}
        <span class="lang-desc">({{ cve.with }})</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
