{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    <div class="publication-title">{{ publication.title }}</div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
    <div class="publication-conference">
      (acceptance rate: {{ publication.rate }}) 
      <a href = "{{ publication.paperlink }}">[paper]</a>
      {% if publication.slide %}
      <a href = "{{ site.baseurl }}/assets/papers/{{ publication.slide }}">[slide]</a>
      {% endif %}
      {% if publication.code %}
      <a href = "{{ publication.code }}">[code]</a>
      {% endif %}
      {% if publication.article1 %}
      <a href = "{{ publication.article1 }}">[article1]</a>
      {% endif %}
      {% if publication.article2 %}
      <a href = "{{ publication.article2 }}">[article2]</a>
      {% endif %}
    </div>
      
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}