{% assign reviews = site.data.data.reviews %}
{% if reviews %}
<section class="section speeches-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-star fa-stack-1x fa-inverse"></i>
    </span>
    External Reivewers
  </h2>

  {% for review in reviews %}
  <div class="item" style="margin-bottom: 5px;">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ review.role }}</h3>
        <!--<div class="time">{{ speech.time }}</div>-->
      </div><!--//upper-row-->
      <!--<div class="company">{{ speech.company }}</div>-->
    </div><!--//meta-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
