{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline"><a href="https://ccs.korea.ac.kr/">{{ sidebar.tagline }}</a></h3>
    {% endif %}

    <h3 class="tagline"><a href = "{{ site.baseurl }}/assets/cv/cv.pdf"><u>CV</u></a></h3>

    {% if sidebar.advisor %}
    <br><br><h3 class="tagline"><a href="https://ccs.korea.ac.kr/people/heejo/">{{ sidebar.advisor }}</a></h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}
  
  {% include interest.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}
  


  {% include language.html %}
  {% include CVE.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
